@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Animación slide fade */
.slide-fade-enter-active {
    transition: all 0.8s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

/* Animación slide fade right to left */
.right-to-left-enter-active {
    transition: all 0.8s ease-out;
}

.right-to-left-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.right-to-left-enter-from,
.right-to-left-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

/* Animación.fade */
.fade-enter-active {
    transition: all 0.3s ease-in-out;
}

.fade-leave-active {
    transition: all 0.3s ease-in-out;
}

.fade-enter-active .inner-1 {
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.fade-leave-active .inner-1 {
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.fade-enter-from .inner-1 {
  transform: translateX(-16px);
  opacity: 0;
}
.fade-leave-to .inner-1 {
  transform: translateX(-16px);
}

.fade-enter-active .inner-2 {
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.fade-leave-active .inner-2 {
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.fade-enter-from .inner-2 {
  transform: translateX(16px);
  opacity: 0;
}
.fade-leave-to .inner-2 {
  transform: translateX(16px);
}

/* Animación left to right */
.left-to-right-enter-active {
    transition: all 0.8s ease-out;
}

.left-to-right-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.left-to-right-enter-from,
.left-to-right-leave-to {
    transform: translateX(-20px);
    opacity: 0;
}

/* CUSTOM SCROLLBAR STYLE */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Color and border */
::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 10px;
    border: 2px solid transparent;
}

/* Dificultad Listado Cuetos */
.badge {
    display: inline-block;
    padding: 0.5em 0.8em;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.dificultad-baja {
    background-color: #28a745; /* Verde más suave */
    color: white;
}

.dificultad-media {
    background-color: #ffc107; /* Amarillo más suave */
    color: black;
}

.dificultad-alta {
    background-color: #dc3545; /* Rojo más suave */
    color: white;
}